/**********************************************
**********All Content**************************
***********************************************/

html {
    margin: auto;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 1200px;
    list-style-type: none;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


/**********************************************
********** Header *****************************
***********************************************/

.headerBox {
    box-shadow: 0px 0px 1px 2px rgb(234, 234, 234);
    padding: 4em;
    background-color: black;
}

.navMenu{
    
}

li , a {
    display: flex;
    color: white;
    justify-content: center;
    padding: 0 10px;
    margin: 0 10px;
}

.headerBox > H1 {
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.burgerBox {
    width: 40px;
    top: 10px;
    right: 10px;
}

/**********************************************
********** Body *******************************
***********************************************/

body {
    background-color: #F7F7F7;
}

H2 {
    text-align: center;
    margin-top: 2em;
}

p {
    padding-top: 2em;
}

.welcomeBox {
    box-shadow: 0px 0px 1px 2px rgb(234, 234, 234);
    border-radius: 5px 5px;
    margin: 5em 0;
    background-color: white;
    padding: 3em;
    text-align: center;
}

.serviceBox {
    box-shadow: 0px 0px 1px 2px rgb(234, 234, 234);
    border-radius: 5px 5px;
    margin: 4em 0;
    background-color: white;
    padding: 3em;
    text-align: center;
}

/**********************************************
********** Footer *******************************
***********************************************/

footer {
    background-color: black;
    padding: 5em;
}

.footerFont {
    color: white;
    text-align: center;
}

/**********************************************
***** Media Queries min ***********************
**********************************************/

@media (min-width: 724px) {


main >.welcomeBox {
    display: flex;
}

.test {
    margin:50px 20px 0px 20px;
}

.serviceBox1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.serviceBox {
    max-width: 350px;
    margin: 0px 5px 60px;
}

main > H2 {
    margin: 0px 0px 80px;
}

.burgerBox{
    display: none;
}

}

/**********************************************
***** Media Queries max ***********************
**********************************************/

@media (max-width:700px) {

    .navMenu{
        display: none;
    }
}